#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gridContainer {
    background: red;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
}

.grid-item {
    background: blue;
    border: 1pt solid black;
    box-sizing: border-box
}

#setSize, #setColor {
    width: 100px;
    height: 30px;
    margin: 15px;
    }

.buttonChoice {
    color: green;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    margin:
}

#settings {
display: flex;
}