body {
    background: rgb(180, 185, 255)
}

#main {
    display: flex;
    justify-content: center;
}

    #settingsName {
        font-family:'Courier New', Courier, monospace;
        font-size: 14pt;
        margin-left: 50%
    }

    #slideContainer {
        display: flex;
        flex-direction: column;
        }

        #settings {
            display: flex;
            }            

    #colorLabels, #backgroundColorLabels, #sizeLabels {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        }

        #labelText {
            align-self: center;
            font-family: 'Courier New', Courier, monospace;
            font-size: 10pt;
            padding: 5px;
        }

    #gridContainer {
        background: black;
        display: inline-grid;
        justify-content: center;
        align-items: center;
        width: 420px;
        height: 420px;
        flex-shrink: 0;
   
        
    }
        .gridItem {
            border: 1pt solid white;
            box-sizing: border-box
        }

#slideSize, #slideRedColor, #slideGreenColor, #slideBlueColor, #slideBackgroundRedColor, #slideBackgroundGreenColor, #slideBackgroundBlueColor {
        appearance: none;
        width: 100%; 
        height: 20px; 
        background: #fff56a; 
        outline: none; 
        opacity: 0.6; 
        transition: opacity .2s;
        border-radius: 100px;
      }

#buttonRainbow {
    height: 50px;
    width: 90px;
    font-family: 'Courier New', Courier, monospace;
    border: 2pt solid black;
    color: white;
    text-shadow: 2px 2px black;
    margin-left: 33%;
}

#buttonRainbow:active {
    border: 3pt solid black;
    font-weight: bold;
}